<div class="home">
    <header>
        <span>Desenvolvendo soluções que otimizam seu projeto</span>
    </header>
    <section class="first-section">
        <div class="container">
            <div class="left">
                <span>Olá, eu sou</span>
                <h1 >Lucas Waldes</h1>
                <h2>Desenvolvedor de {{ currentText }}</h2>
                <p>Especialista em soluções inovadoras, com foco no desenvolvimento de bots para Discord e WhatsApp, além da criação de sites de alta qualidade. Meu objetivo é fornecer soluções eficientes e funcionais, melhorando a experiência do usuário e automatizando processos para ajudar no crescimento do seu projeto.</p>
                
                <div class="wrapper-buttons">
                    <a href="https://discord.gg/927hMKfTrn" target="_blank"><button title="Entrar em contato">Entrar em contato</button></a>
                </div>
            </div>
            <div class="right">
                <figure>
                    <img title="Lucas Waldes" src="/assets/me.jpeg" alt="Lucas Waldes">
                </figure>
            </div>
        </div>
    </section>
    <section class="second-section">   
        <div class="container">
            <h3 style="font-size: 32px;">
                Colaborações em projetos
            </h3>
    
    
            <div class="card-container">
                
                <div class="card">
                    <a href="https://hyperscripts.com.br" target="_blank">
                        <h4>Hyper Scripts</h4>
                        <p>Focada no desenvolvimento de recursos de alta qualidade para MTA, oferecendo soluções inovadoras para servidores de toda plataforma.</p>
                    </a>
                </div>
                <div class="card">
                    <a href="https://warpstore.app" target="_blank">
                        <h4>Warp Store</h4>
                        <p>SaaS que fornece soluções de sites personalizados para vendedores em servidores de jogos, facilitando a criação e gestão de lojas online, sem reter pagamentos.</p>
                    </a>
                </div>
                <div class="card">
                    <a href="https://discord.gg/927hMKfTrn" target="_blank">
                        <h4>LW's Dev Studio</h4>
                        <p>Desenvolvimento de bots, websites e APIs, com foco em automação e soluções eficientes para seu projeto.</p>
                    </a>
                </div>
                
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <span>&copy; 2024 - 2025 Lucas Waldes. Todos os direitos reservados.</span>

        </div>
    </footer>
    
</div>