/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*::selection {
    background: transparent; /* Remove a cor de fundo */
    color: inherit; /* Mantém a cor original do texto */
  }
  

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;

    font-style: normal;
    user-select: none; /* Desativa a seleção de texto no geral */

}

h1, h2, h3, h4, h5, h6, p, span {
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    cursor: default;
}

body {
    background-color: rgb(5, 5, 5);
}